<section class="hero">
  <div class="container">
    <h2>Selamat datang di portofolio saya!</h2>
    <p>Ini adalah tempat saya berbagi karya-karya terbaik saya.</p>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about">
  <div class="container">
    <h2>Tentang Saya</h2>
    <p>Saya adalah seorang pengembang web dengan pengalaman dalam merancang dan mengembangkan situs web yang responsif dan menarik.</p>
  </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <h2>Portofolio</h2>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="images/commerce.jpg" alt="Project 1" />
        <h3>E-Commerce Website: "BatikShop</h3>
        <p>Membangun situs e-commerce untuk sebuah toko fashion batik yang menjual pakaian dan aksesori dengan sistem pembayaran online, kategori produk, dan fitur pencarian produk yang efisien.</p>
      </div>
      <div class="portfolio-item">
        <img src="images/porto.webp" alt="Project 2" />
        <h3>Situs Portofolio Pribadi</h3>
        <p>Membangun situs portofolio pribadi untuk menampilkan proyek-proyek yang telah dikerjakan, dengan desain yang bersih dan interaktif.</p>
      </div>
      <div class="portfolio-item">
        <img src="images/todolist.jpg" alt="Project 3" />
        <h3>Aplikasi Todo List</h3>
        <p>Aplikasi daftar tugas (To-Do List) yang memungkinkan pengguna untuk menambahkan, mengedit, dan menghapus tugas, serta menandai tugas sebagai selesai.</p>
      </div>
    </div>
  </div>
</section>

<section class="hubungi">
  <a href="/contact">
    <button type="button">Contact Me</button>
  </a>
</section>
